
*.Rhistory
__pycache__/
.tmp.drivedownload/
.tmp.driveupload/
.ipynb_checkpoints/
.Rhistory
*.pyc
.idea/
.idea\
__pycache__\
.vscode/
*.asv
images/

results/simulation/*.pkl
# results/simulation2/*.pkl
data/*.csv

ai-ready*
ai_ready*
explore_cgm.ipynb
berg_sense.ipynb